body{
  padding: 60px 30px;
}

.form-wrapper{
  max-width: 400px;
  margin: 0 auto;
}
.form-group{
  margin-bottom: 15px;
}
.form-group label{
  margin-bottom: 8px;
  display: inline-block;
}
.btn{
  display: inline-block;
    font-weight: 400;
    background-color: rgb(166, 201, 247);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; 
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem; 
}
.employee_table{
  margin-top: 30px;
}
.employee_table table{
  margin-top: 15px;
}
.employee_table table, th , td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}
.employee_table table thead {
  background-color: rgb(166, 201, 247);
}
.form-control{
  display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.employee_table{
  max-width: 400px;
  margin: 30px auto;
}